.date{
 
    margin: 40px 0 40px 0;

    font-weight: semi-bold;
    font-size: 36px;
    
}


.blog-title{
    text-align: left;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    
}

.title-1{
    border-bottom: 5px solid #D5B060;
    padding-bottom: 20px;
    width: 175px; 
}
.title-4{
    border-bottom: 5px solid #D5B060;
    padding-bottom: 20px;
    width: 565px; 
}
.title-4{
    border-bottom: 5px solid #D5B060;
    padding-bottom: 20px;
    width: 565px; 
}

.bar{

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    overflow: visible;
}

.blog-body{
    font-size: 1.3em;
    line-height: 2;

    letter-spacing: -.05px;
}

@media(max-width: 700px){
    .date{
        font-size: 1.8em;
    }

    .blog-title{
        font-size: 1.9em;
        padding-bottom: 5%;
    }

    .blog-body{
        font-size: 1.2em;
        text-align: justify;
    }
}