.date{
 
    margin: 40px 0 0 0;

    font-weight: semi-bold !important;
    font-size: 26px;
    
}


.blog-title{
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    
}

.blog-body{
    font-size: 16.5px;
    line-height: 2;

    letter-spacing: -.05px;
    margin-top: 0;
}
@media(max-width: 900px) {
    .blog-title{
        font-size: 22px;
    }
    .blog-body{
        font-size: 14px;
    }
    .date{
        font-size: 24px;
    }
}

@media(max-width: 700px){
    .date{
        font-size: 22px
    }

    .blog-title{
        font-size: 20px
      
    }

    .blog-body{
        font-size: 14px;
        text-align: justify;
    }
}
@media(max-width: 600px){
    .date{
        font-size: 20px;
    }

    .blog-title{
        font-size: 18px;
      
    }

    .blog-body{
        font-size: 12px;
      
    }
}
@media(max-width: 500px){


    .blog-title{
        font-size: 18px;
        line-height: 30px;
      
    }

  
}