.echoIcon{
    webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .app_title{
    color: #123152;
    font-size: 30px;
  }
  
  .echoIcon:hover, .echoIcon:focus, .echoIcon:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
  @media (max-width: 900px){
    .app_title{
      font-size: 25px; 
     }
  }
  
  @media(max-width: 800px){
    .echoIcon{
       width: 150px;
       height: 150px;
    }
  }
  
  @media(max-width: 700px){
    .echoIcon{
       width: 100px;
       height: 100px;
    }
  }

  