.App {
  text-align: center;
}



.leaflet-container{

  margin-bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 70vw;
  height: 75vh;
}
.map-instruction-wrapper{
  /* display: flex;
  width: 1080px; 
  justify-content: center; */

    display: flex;
  
    width: 85%;
    margin: auto;
    margin-top: 0;
  
}
.map-instruction{

}

@media(max-width: 750px){
  .map-instruction-wrapper{
    width: 85%;
  } 

  .App h2{
    font-size: 5px;
  }
}


@media (max-width: 600px){
  .leaflet-container{
    width: 95%;
  }

}




