.global-new-icon-card{
  margin-left: 150px;
}

.global-news-title{
    margin-left:260px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    position:absolute;
    top: 1060px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
   
}

.newsIcon{
  webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  position: absolute;
  z-index: 1000;
  top: 1200px;
  margin-left: 250px;
}

  .app_title{
    color: #123152;
    font-size: 30px;
  }

.newsIcon:hover, .newsIcon:focus, .newsIcon:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

@media (max-width: 900px){
  .app_title{
    font-size: 25px; 
   }

   
}

@media(max-width: 800px){
  .newsIcon{
     width: 150px;
     height: 150px;
  }
}

@media(max-width: 700px){
  .newsIcon{
     width: 100px;
     height: 100px;
  }

  .app_title{
    margin-top: 20%;
    font-size: 15px;
  }
}

@media(max-width: 450px){
  .app-link-wrapper{
  
    margin: 0 0 0 0 !important;
    padding:0;
    height: 200px !important;
  }
  .app-link{
    margin:0;
    padding:0;

  }

  .app_title{
    position: relative;
    margin-top:0;
    right: 40%;
    padding-left: 30px;
    top: 100%;

  }

}

@media(max-width: 400px){
  .app_title{
    padding-left: 40px;
  }
}