@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.cluster{
  float: right;
  margin-right:0;
  margin-left:0;
} 
.contact-input-field{


  border: 2px solid #D5AF60;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 16px;
  background-color: #1A1404;
}



.form-line-wrapper{
  width: 700px;
  display: flex;
  align-items: flex-start;
  gap: 50px;

}


.contact-page-wrapper{
  background-color: black;
  height: 140vh;
  font-family: 'Montserrat', sans-serif;


}

.form-label{
  background-color: #826617;
  font-size: 15px;
  color: white;
  padding: 1.8%;
  border-radius: 16px;
}

.err{
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #E94057;
  padding: 10px;
  margin: 0;
  
  border-radius: 16px;
  font-size: small;


}

.err-span{
  margin-top: 5px;

}


textarea{
  width: 50%;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px;
}


.form-success{
  color: #D5AF60;
  text-align: center;
  margin-top: 0;
  padding-top:0;
  display: flex;
  font-size: 2em;
  width: 50%;
}

.success-msg{
  margin-top: 0;
  padding-top:0;
  font-weight: 400;
}

.contact-form-wrapper {

 
  width: 95%;
  margin: auto;
  margin-bottom: 2%;
  border-width: 10px;
  border-style: dashed solid;
  border-image-slice: 30;
  border-image: 
    linear-gradient(
      to bottom, 
      black, 
      /* #623F74, */
      #D5AF60,
      black,
      rgba(0, 0, 0, 0)
    ) 1 50%;
  
}
.nav-open-contact{

  width: 95%;
  margin: auto;
  margin-bottom: 2%;
  border-width: 10px;
  border-style: dashed solid;
  border-image-slice: 30;
  border-image: 
    linear-gradient(
      to bottom, 
      black, 
      /* #623F74, */
      #D5AF60,
      black,
      rgba(0, 0, 0, 0)
    ) 1 50%;
}

.nav-open-contact img{
  display: none;
}

.name-input-div{
  
}

.name-input{
  height: 25px;
  padding: 1.2%;
  border-radius: 16px;


}

.email-input-div{


}

.email-input{

  height: 25px;
  padding: 1.2%;
}


.message-input-div{

}

.textarea-label{

  margin-top: 5px;
  height: 50%;
 
}

.message_field{
  height: 120px;
  width: 500px;
  background-color: #1a1404;
  margin-left: -20px;
}


.contact-intro{

  padding: 0 5% 5% 5%;
  font-weight: 400;
  color: #D5AF60;
  margin-bottom: 0;
}


.form-wrapper{
  width: 90%;
  margin: auto;

}

.contact-form-wrapper input:focus { 
  outline: none !important;
  border-color: #997079;
  box-shadow: 0 0 10px #77525a;
}
.contact-form-wrapper textarea:focus { 
  outline: none !important;
  border-color: #997079;
  box-shadow: 0 0 10px #77525a;
}



.message-input-div .err-span{

}

.form-wrapper div{
  margin-bottom: 5%;
}


.err-message-span{

}

.form-input-btn{
  font-size: 1em;
  border-radius: 15px;
  color:white;
  background-color: #826617;
  padding: 40%;
  border: none;



}


.form-input-btn:hover{
  cursor:pointer;
 
  background-color: #52373D;
  color: white;

  /* color: white;
  border-bottom: 4px solid darken($color, 10%); */
}
.btn-div{


  margin-top: 10px;
}



.form-input-btn:active{
  background-color: linear-gradient(to left, #F27121, #E94057, #8A2387);
}



@media(max-width: 1200px){
 
}

@media(max-width:1100px){
 
}

@media(max-width:1000px){

}



@media(max-width:900px) {
  textarea{
    width: 70%;
  }

  .err-message-span{
    margin-left: 5%;
    margin-right: 5%;
  
  }


  .form-input-btn{
    left: 0;
    width: 10%;
  }

  .btn-div{
    text-align: center;
  }

}

@media(max-width:800px){

}

@media(max-width:750px){
  .form-input-btn{
    width: 15%;
  }


}

@media(max-width: 700px){

  .contact-wrapper{
    margin-top: 25%;
  }
}

@media(max-width: 600px){
  .err{
    width:70px;
    padding: 10px;
  }
}

@media(max-width: 500px){

  
  .contact-intro{
    font-size: 1.5em;
  }

  .form-wrapper label{
    font-size: .8em;
    border-radius: 15px;
  }

  .err{
    font-size: .8em;
  }

  .form-input-btn{
    font-size: .8em;
    left: 0;
    width: 20%;
  }
  .form-wrapper div{
    margin-bottom: 13%;
  }
}

@media(max-width: 400px){

  .form-input-btn{
    font-size: .8em !important;
  }

  .err{
    padding: 4px;
  }
  .contact-wrapper{
    padding-bottom: 15vh;
    margin-bottom: 0;
  }
}

@media(max-width:380px){
  .headshot{
  
  }
}

@media(max-width:376px){
  .headshot{
  
  }
}

@media(max-width:365px){
  .headshot{

  }
}

@media(max-width:300px){
  .headshot{
  
  }
}

@media(min-height:1000px){

}

@media(min-height:1200px){

} 


