@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');


.form-wrapper label{
  display: flex;
  text-align: center;
  align-self: center;
}

.form-label{
  background-color: #D2C396;
  font-size: 1.2em;
  color: black;
  padding: 1.47%;
  border-radius: 16px;
}

.err{

  color: white;
  /* background-color: #050110; */
  background-color: #E94057;
  /* border: 5px solid #1D7480; */
 
  height: 50px;
  padding: 5px;
  margin: 0;
  
  /* padding-right: 1%;
  padding-left: 1%; */
 
  /* padding: 2% 4% 4% 4px; */

}

.err-div{
  display: flex;
   margin-left: 50px;
  
}


.form-input-btn:hover{
  cursor:pointer;
  border: 2px solid #1D7480;
  background-color: #050010;
  color: white;
  /* color: white;
  border-bottom: 4px solid darken($color, 10%); */
}

.form-input-btn{
  color:black;
  background-color: #D2C396;
  padding: 1%;
  margin-left: 5%;
  border: 2px solid white;

}


.form-input-btn:active{
  background-color: linear-gradient(to left, #F27121, #E94057, #8A2387);
}


textarea{

  border: 2px solid #783EB6;
  border-radius: 4px;

  box-sizing: border-box;
  font-family: arial;
  


  width: 50%;
  vertical-align: middle;
  margin-top: 5px;
 
  margin-right: 15px;
}

.form-success{
  color : #DAC6DE;
  justify-content: center;
  padding: 2px;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.contact-wrapper{

  background-color: #050110;
  width: 95%;
  margin: auto;
  margin-bottom: 2%;
  border-width: 10px;
  border-style: dashed solid;
  border-image-slice: 30;
  border-image: 
    linear-gradient(
      to bottom, 
      #067A82, 
      #623F74,
      #050110,
      rgba(0, 0, 0, 0)
    ) 1 50%;
  
}



.name-input-div{
  height: 50px;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  
}

.name-input{
  height: 25px;
  margin-left: 5%;
  padding: 1.2%;
  background-color: #BAB1CE;

}

.email-input-div{
  height: 50px;
  display: flex;
  padding-left: 5%;
}

.email-input{
  display: flex;
  height: 25px;
  margin-left: 5%;
  padding: 1.2%;
  background-color: #BAB1CE;
}


.message-input-div{
  padding-left: 5%;
  display: flex;
  height: 60px;
  text-align: center;
 
}

.message_field{
  margin-left: 2.5%;
  height: 90px;
  background-color: #BAB1CE;
}


.contact-intro{
  display: flex;;
  padding: 5%;
  font-weight: 400;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.message-input-div .err-div{
  margin-top: 5px;
}

.form-wrapper div{
  margin-bottom: 10%;
}



.message_field{
 
}

.headshot{
  z-index: 100;
  position:absolute;
  bottom: 30%;
  left: 70%;
  width: 300px;
  height: 300px;
  
  /* border: 2px solid white; */
}

/* .headshot-border{
  position:absolute;
  bottom: 24%;
  left: 70%;

  background: #CEB98F;
  border-radius: 50%;
  width: 310px;
  height: 360px;
} */

@media(max-width:900px) {
  textarea{
    width: 70%;
  }


  .form-input-btn{
    left: 0;
    width: 10%;
  }

  .btnDiv{
    text-align: center;
  }

}

@media(max-width:750px){
  .form-input-btn{
    width: 40%;
  }


}
