
body{
  font-family: 'Montserrat', sans-serif;
}
.main {
  flex-flow: wrap;
  padding: 10px;
  margin: 10px;
}

.title {
  position: relative;
  left:0;
  margin: 10px;
  color: #A5873A;
  text-decoration: underline;
}

h1{
  margin: 10px;
}
