.about-wrapper{

  display: grid;
  margin: auto;
  width: 85%;
  grid-template-columns: 2fr 300px; 
  column-gap: 50px;

}
.headshot{
  width: 300px;
  height: 300px;
  float: right;
  grid-row: 2;
  grid-column: 2;
}

.about-content{
  grid-row: 2;
  grid-column: 1;
  text-align:justify;
  font-size: 1.5em;
  margin-top: 0;
  
  letter-spacing: .1px;
  font-weight: 250;
  line-height: 1.5em;
  color: #D5B060
}

.header{
  color: #D5B060;
  font-weight: 300;
  font-size: 2.2em;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-row-end: -1;
}



.page-wrapper{
  background-color: black;
  height: 110%;
  padding-bottom: 10%;


}
/* 
.about-wrapper{

  margin: 0 50px 0px 50px;
  
}



.header{

  text-align: justify;
  color: #D5B060;
  font-weight: 300;
  font-size: 2.2em;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto 0 auto;

}

.page-wrapper h2{
  margin-bottom: 0;
  padding-bottom: 0;
}

.headshot{
  display: inline;
  width: 400px;
  height: 400px;
  float: right;
  margin-top: 30px;
  
  
 
}

.about-content-wrapper{
  margin-top: 5%;

}

.about-text{

  
}

.about-content{

} */

.navOpen{
  display: none;
}



@media (max-width:900px){
  .body{
    color: #C6EBF1;
    text-align: center;
    font-size: 75%;
  }

  .header{
    font-size: 2.2em;
  
  }

  .about-content{
    font-size: 1.8em;
    line-height: 1.5;
    letter-spacing: 0;
  }
/* 
  .title{
    text-align: center;
    font-size: 75%;
    padding-top: 10%;
  } */


}


@media(max-width:500px){
  .header{  
    font-size: 2em;
    letter-spacing: -2px;
    /* word-break: break-all; */
    text-align: justify;
    width: 80%;
    margin: auto;
 
 
  }

  .about-content{
    width: 80%;
    margin: auto;
    font-size: 1.8em;
    line-height: 1.5;
    letter-spacing: -1px;
  }
}

@media(max-width:450px){
  .header{  
    font-size: 1.9em;
    letter-spacing: -1px;
  
  }



  .about-content{
    width: 80%;
    margin: auto;
    font-size: 1.6em;
    
  }

  
}


@media(max-width:400px){
  .about-content{
    letter-spacing: 0px;
    font-size: 1.4em;
  }
}

@media(max-width:360px){
  .header{  
    font-size: 1.7em;
  
  }
  .about-content{
    width: 80%;
    margin: auto;
    font-size: 1.3em;
    line-height: 1.6;
   
    
  }
}

@media(max-width:330px){
  .header{  
    font-size: 1.6em;
  
  }
  .about-content{
    font-size: 1.2em;

  }
}
