
body{
  font-family: 'Montserrat', sans-serif;
}
.body {
  flex-flow: wrap;
  padding: 10px;
  margin: 10px;
}

.title {
  position: relative;
  left:0;
  margin: 10px;
  color: #A5873A;
  text-decoration: underline;
}

h1{
  margin: 10px;
}

.par_two {
  text-align: center;
}

.navOpen{
  display: none;
}

@media (max-width:900px){
  .body{
    text-align: center;
    color: #7B7689;
    font-size: 75%;
    background: -webkit-linear-gradient(#660058, #3B4381, #EAEAEA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title{
    text-align: center;
    font-size: 125%;
  }
}
