
.wallpaper {
   background-color: black;
}

.wallpaper-extended{
  background-color: black;
}

.blog_div{
  color: #d4b36d;
  border-top: none;
  border-bottom: none;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
  box-sizing: content-box;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #090B1A; */

}
.blog-hr{
  width: 70%;
  border-color: #D4B36D;
 
}

.post{
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 8%;
}

h2{
  font-size: 1.7em;
}

h1{
  /* color: #D5AF60; */
  /* text-align: left; */

}

.divider{

}

@media(max-width:1000px){
  .wallpaper-extended{
    padding-bottom: 110vh;
    background-color: black;
  }


}

@media(max-width:900px){

  .blog_div{
    margin-top: 15%;
  }

  button{
    font-size: 100%;

  }

  .navOpen{
    display: none;
  }
}

.divider{
 
}

@media(max-width:600px){

}

@media(max-width:400px){

  .post{
    margin-top: 50px;
    font-size: 80%;
  }

  .blog_div{
    margin-top: 60px;
   
  }
}
