.blog_div{
  margin: 10%;
  width: 80%;
  box-sizing: content-box;
  background-color: #B6C7C9;
}

.post{
  padding: 10%;
}

h3{
  line-height: 2.5;
  font-weight: 600;
  font-size: 1.5em;
}

h2{
  font-weight: bold;
  font-size: 1.7em;
}

h1{
  color: #701E57;
  text-align: center;
}

@media(max-width:900px){
  h1{
    font-size: 125%;
  }

  h2{
    text-align: center;
    font-size: 125%;
  }

  h3{
    font-size: 100%;
  }

  button{
    font-size: 100%;
    width: 40px;
  }

  .navOpen{
    display: none;
  }
}
