.submit_div{
  height: 200px;
  position: relative;
}

.submit_div button{
  padding: 1%;
  font-size: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.15s;
}

.submit_div button:hover{
  color:#DDDDDD;
  border-color:#DDDDDD;

}
.submit_div button:active{
 color:#BBBBBB;
 border-color:#BBBBBB;
}


label{
  display: block;
}

.contact_div{
  box-sizing: border-box;
  margin: 5px;
  flex-grow: 2;

}


label{
  font-weight: 1000;
}

.small_fields{
  box-sizing: border-box;
  justify-content: center;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;

}

.email_field{
  justify-content: space-around;
  margin: 50px;
  padding: 5px;
}

.name_field{
  justify-content: space-around;
  margin: 50px;
  padding: 5px;
}

.message_field{
  text-align: center;
}
