@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Roboto:wght@100;300&display=swap");

.fade-in {
  animation: fade-in 1s 1;
  -webkit-animation: fade-in 1s 1;
  animation-fill-mode: forwards;
  background-color: black;

  -webkit-animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}

.apps-section {
  background-image: url("../../project_layout/Rectangle-left.png"),
    url("../../project_layout/Rectangle-purp-right.png");
  background-position: top left, right top;
  background-repeat: repeat-y;
  background-blend-mode: darken;
  background-size: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.sidebar-and-socials-wrapper {
  float: right;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 23px;
  width: 610px;
}

@media (max-width: 1050px) {
  .apps-section {
    grid-template-columns: 100%;
  }
}

.move {
  animation: my0rbit 7s linear infinite;
  -webkit-animation: myOrbit 7s linear infinite; /* Chrome, Safari 5 */
}

.move-2 {
  animation-delay: 2s;
  animation: myOorbit 7s linear infinite;
  -webkit-animation: myOrbit 7s reverse infinite; /* Chrome, Safari 5 */
}

@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(25%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(25%) rotate(-360deg);
  }
}

.socials-wrapper img {
  height: 25px;
}

.socials-wrapper ul {
  padding: 0;
  margin-bottom: 0;
}

.socials-wrapper ul > li {
  display: inline-block;
  list-style: none;
  padding: 2px 20px 0;
}

.socials-wrapper img {
  margin-top: 15px;
}

.socials-li:hover {
  transform: scale(1.15);
  transition: 0.2s ease-in;
}

.homepage-header {
  display: flex;
  color: #edc671;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 17%;
}

.homepage-header h1,
h2 {
  font-weight: 400;
}

.landing-section {
  background-image: url("../../project_layout/nrhero.png");
  background-position: bottom center;
  height: 100vh;
  background-repeat: no-repeat;
  margin-top: 100px;
}

.landing-page-menu {
  color: #edc671;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 53%;
  width: auto;
}

.landingpage-ul {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
}

.main-lp-li {
  display: inline;
  margin: auto 20px;
}

.main-lp-li-btn {
  font-size: 20px;
  border: 2px solid black;
  background-color: black;
  color: #edc671;
  cursor: pointer;
  padding: 10px;
  width: 100px;
  transition: border-color 0.3s ease; /* Transition property for border-color */
}
.main-lp-li-btn:hover {
  border: 2px solid #edc671;
}

/* BUBBLES */
.bubbles-wrapper {
  /* margin-bottom: 500px;
  margin-left: 70px; */
  margin-top: 15%;
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: flex-start;
  /* padding-bottom: 110px; */
}

.left {
  margin-top: 20px;
}

.small-bbl {
  margin-top: -20px;
  width: 75px;
}

.middle-left {
}

.middle-right {
  margin-top: 20px;
}

.right {
  margin-top: -30px;
}

.right-most {
  margin-top: 90px;
}

.background-gradient-1 {
  z-index: 000;
  position: absolute;
  top: 550px;
  width: 100%;
  /* opacity: .7; */
}

.background-gradient-2 {
  z-index: 000;
  position: absolute;
  top: 2800px;
  width: 100%;
  /* opacity: .7; */
}

footer {
  height: 100px;
  background-color: black;
}

/* MEDIA QUERIUES */

@media (max-width: 1100px) {
  .socials-wrapper img {
    width: 25px;
    margin-top: 20px;
  }
  .socials-wrapper {
    right: 125px;
  }
}

@media (max-width: 1050px) {
  .apps-section {
    padding-bottom: 100px;
  }
}

@media (max-width: 900px) {
  .bubbles-wrapper {
    margin-top: 20%;
  }
  .subheader-div h2 {
    margin-left: 30px;
    padding-bottom: 18px;
    border-bottom: solid 4px #d5b060;
  }
  .subheader-div {
    border: none;
  }

  .small-bbl {
    width: 50px;
  }

  .large {
    width: 100px;
  }

  .socials-wrapper {
    right: 100px;
  }
}

@media (max-width: 800px) {
  .bubbles-wrapper {
    margin-top: 30%;
  }

  .socials-wrapper {
    top: 38px;
    right: 100px;
  }
  .socials-wrapper img {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 700px) {
  .homepage-header h1 {
    font-size: 1.7rem;
  }
  .homepage-header h2 {
    font-size: 1.2rem;
  }
  .main-lp-li-btn {
    font-size: 18px;
  }

  .main-lp-li {
    margin: auto 10px;
  }
  .bubbles-wrapper {
    margin-top: 40%;
  }
  .socials-mobile-view {
    top: 64px;
    position: absolute;
    left: 20.5px;
  }

  .socials-wrapper {
    top: 88.4px;
    left: 22px;
    border-left: 3.5px solid #d5b060;
    height: 220px;
    width: 20px;

    margin-top: -40px;
    animation: none;
    transform: none;
  }

  .socials-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 50px;
  }
  .socials-wrapper ul li {
    margin-top: 5px;
  }
  .socials-wrapper img {
    height: 20px;
    width: 20px;
  }

  .socials-li {
    width: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 600px) {
  .main-lp-li {
    margin: auto 0px;
  }
  .small-bbl {
    width: 40px;
  }

  .large {
    width: 75px;
  }

  .right-most {
    margin-top: 60px;
  }
}

@media (max-width: 500px) {
  .bubbles-wrapper {
    margin-top: 50%;
  }

  .socials-wrapper {
    top: 75px;
    left: 15px;
  }

  .socials-wrapper img {
    height: 15px;
    width: 15px;
  }
  .main-lp-li-btn {
    font-size: 16px;
    background-color: rgba(87, 125, 146, 0.3);
    border-radius: 6px;
  }

  .landingpage-ul {
    display: flex;
    flex-wrap: wrap;
  }
  .main-lp-li {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 6px;
  }
  .landing-page-menu {
    top: 49%;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .small-bbl {
    width: 25px;
  }

  .large {
    width: 50px;
  }

  .bubbles-wrapper {
    padding-bottom: 0;
  }
}
@media (max-width: 400px) {
  .bubbles-wrapper {
    margin-top: 60%;
  }
  .socials-wrapper {
    top: 64.5px;
  }
  .socials-wrapper ul {
    margin-top: 40px;
  }
  .socials-mobile-view {
  }
}
