@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Roboto:wght@100;300&display=swap');

.fade-in{

  animation:fade-in 1s 1;
  -webkit-animation:fade-in 1s 1;
  animation-fill-mode: forwards;
  background-color: black;

  -webkit-animation-fill-mode: forwards;
}

@keyframes fade-in {
  0%   {opacity: 0;}
  70%  {opacity: 0;}
  90% {opacity: 1;-webkit-transform: translateY(0px);}
  100% {opacity: 1;-webkit-transform: translateY(0px);}
}

.apps-section{
  background-image: url('../../project_layout/background.png');
  background-repeat: repeat-y;

  background-size: contain;
}


.socials-wrapper{
  color: #D5B060;

  position: absolute;
  top: 15px;
  right: 200px;
  padding-bottom: 0;
  /* border-bottom: 2px solid #D5B060; */

}

.socials-wrapper ul{
  padding: 0;
  margin-bottom: 0;
}

.socials-wrapper ul > li {
  display: inline-block;

}

.socials-wrapper li:hover {
  transform: scale(1.15);
  transition: .2s ease-in
}
.projects{
 

}

.homepage_wrapper{
 
  z-index: 3000;

}

.welcome-border h2{
  font-weight: 400;
}
header{
  display: flex;
  width: 100%;


}

.welcome-border{
 
  /* background: ellipse at top(#000814, #D5B060); */
  display: inline-block;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  margin-bottom: 150px;
 
}


.bar-short{
  color: #D5B060;
  background-color: #D5B060;
  height: 4px;
  border: none;
  width: 62%;
  margin:0;
}
.bar-long{
  color: #D5B060;
  background-color: #D5B060;
  height: 4px;
  border: none;
  margin:0;
  width: 100%;
  
}
.subheader-div{
  color: #D5B060;
  background: #01060f;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-left: auto;
  border: solid 4px #D5B060;
  border-right: none;
  border-left:none;
  border-top:none;
}

.welcome-statement{
  background: #01060f;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #D5B060;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
  padding: 0;
  font-weight: 100;
  border: solid 4px #D5B060;
  border-right: none;
  border-left:none;
  border-bottom: none;

  
}

.planetoid{

  opacity: .8;
  z-index: 0;
  top:950px;
  left: 400px;
  position: absolute;
  width: 60%;
  transform: rotate(-65deg)

}

.planetoid-2{
  opacity: .8;
  z-index: 2;
  position: absolute;
  bottom:1020px;
  width: 60%;
  transform: rotate(96deg);
  /* float: right; */
  left: 0;
}
/* .planetoid-3{
  opacity: .8;
  z-index: 2;
  position: absolute;
  bottom:200px;
  transform: scaleX(-1);

} */

.starburst1{

  position: absolute;
  top:1700px;
  z-index: 2;
  right: 100px;
  transform: rotate(-15deg);
  width: 20%;
}

.starburst2{

  position: absolute;
  bottom:200px;
  z-index: 2;
  left: 500px;
  transform: rotate(40deg);
  width: 20%;
}
/* 
.app_links{
  margin-top: 210px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: space-around;
  align-content: space-around;
  place-content: space-around;
  background-color: black;

} */



/* BUBBLES */
.bubbles-wrapper{

  /* margin-bottom: 500px;
  margin-left: 70px; */
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: flex-start;
  padding-bottom: 110px;


}


.left{
  margin-top: 20px;
/* 
  margin-left: 200px;
  margin-top: 150px; */
}

.small-bbl{
  margin-top: -20px;
  width: 75px;
}

.middle-left{
  /* margin-left: 600px;
  margin-top: 100px; */
}

.middle-right{
  margin-top: 20px;
  /* margin-left: 1000px;
  margin-top: 170px; */
}

.right{
  /* margin-left: 1400px;
  margin-top: 100px; */
  margin-top: -30px;
}

.right-most{
  margin-top: 90px;

}


.background-gradient-1{
  z-index: 000;
  position: absolute;
  top: 550px;
  width: 100%;
  /* opacity: .7; */
}

.background-gradient-2{
  z-index: 000;
  position: absolute;
  top: 2800px;
  width: 100%;
  /* opacity: .7; */
}

footer{
  height: 100px;
  background-color: black;
}

/* MEDIA QUERIUES */

@media (max-width: 1600px){

  header{

    height: 100px;
  }

  .bubbles-wrapper{
    margin-top: 300px;
  
  }
  .welcome-border{
    
  }
  .bar-long{
    height: 20px;
  }
  
  .welcome-border{

    
  }
}

@media(max-width: 1400px){
  .bubbles-wrapper{
    
    
    /* margin-left: -670px; */
  }


}

@media(max-width: 1300px){

  .background-gradient-1{
    height: 2000px;
  }
  
}

@media(max-width: 1100px){
  .welcome-border{
    font-size: 14px;
  }

  .socials-wrapper img{
    width: 25px;
    margin-top: 5px;
    
  }
  .socials-wrapper{
    right: 125px;
    
  }
}

@media(max-width: 1050px){
  .apps-section{
 
  
   }
}