@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Roboto:wght@100;300&display=swap');

.fade-in{

  animation:fade-in 1s 1;
  -webkit-animation:fade-in 1s 1;
  animation-fill-mode: forwards;
  background-color: black;

  -webkit-animation-fill-mode: forwards;
}


@keyframes fade-in {
  0%   {opacity: 0;}
  70%  {opacity: 0;}
  90% {opacity: 1;-webkit-transform: translateY(0px);}
  100% {opacity: 1;-webkit-transform: translateY(0px);}
}

.socials-wrapper{
  color: #D5B060;

  position: absolute;
  top: 15px;
  right: 200px;
  padding-bottom: 0;
  /* border-bottom: 2px solid #D5B060; */

}

.socials-wrapper ul{
  padding: 0;
  margin-bottom: 0;
}

.socials-wrapper ul > li {
  display: inline-block;

}

.socials-wrapper li:hover {
  transform: scale(1.15);
  transition: .2s ease-in
}
.projects{
 
  overflow: hidden;
}

.homepage_wrapper{
  background-color: black;
}

.welcome-border h2{
  font-weight: 400;
}
header{
  display: flex;
  width: 100%;


}

.apps-section{
  background-color: black;
}
.welcome-border{
 
  /* background: ellipse at top(#000814, #D5B060); */
  display: inline-block;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
 
}


.bar-short{
  color: #D5B060;
  background-color: #D5B060;
  height: 4px;
  border: none;
  width: 62%;
  margin:0;
}
.bar-long{
  color: #D5B060;
  background-color: #D5B060;
  height: 4px;
  border: none;
  margin:0;
  width: 100%;
  
}
.subheader-div{
  color: #D5B060;
  background: #01060f;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-left: auto;
  border: solid 4px #D5B060;
  border-right: none;
  border-left:none;
  border-top:none;
}

.welcome-statement{
  background: #01060f;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #D5B060;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0;
  padding: 0;
  font-weight: 100;
  border: solid 4px #D5B060;
  border-right: none;
  border-left:none;
  border-bottom: none;

  
}

.planetoid{

  opacity: .8;
  z-index: 0;
  top:800px;
  left: 200px;
  position: absolute;

}

.planetoid-2{
  opacity: .8;
  z-index: 2;
  position: absolute;
  bottom:1000px;
  transform: scaleX(-1);
  /* float: right; */
  left: 0;
}
.planetoid-3{
  opacity: .8;
  z-index: 2;
  position: absolute;
  bottom:200px;
  transform: scaleX(-1);
  /* float: right; */
}

.starburst1{

  position: absolute;
  top:1700px;
  z-index: 2;
  right: 20px;
  transform: rotate(-15deg)
}

.starburst2{

  position: absolute;
  bottom:200px;
  z-index: 2;
  left: 500px;
  transform: rotate(40deg)
}
/* 
.app_links{
  margin-top: 210px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: space-around;
  align-content: space-around;
  place-content: space-around;
  background-color: black;

} */


/* BUBBLES */
.bubbles-wrapper{

  /* margin-bottom: 500px;
  margin-left: 70px; */
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: flex-start;
  transition: 4s ease-in;

}

.left{
  margin-top: 20px;
/* 
  margin-left: 200px;
  margin-top: 150px; */
}

.small-bbl{
  margin-top: -20px;
  width: 75px;
}

.middle-left{
  /* margin-left: 600px;
  margin-top: 100px; */
}

.middle-right{
  margin-top: 20px;
  /* margin-left: 1000px;
  margin-top: 170px; */
}

.right{
  /* margin-left: 1400px;
  margin-top: 100px; */
  margin-top: -30px;
}

.right-most{
  margin-top: 90px;
/* 
  margin-left: 1800px;
  margin-top: 50px; */
}

/* MEDIA QUERIUES */



@media (max-width: 1600px){

  header{
    height: 300px;
  }
  .bubbles-wrapper{
    /* margin-top: 200px;
    margin-left: -450px;
    position: fixed;
    z-index: -100; */
  


  }

  
  .welcome-border{
    margin-bottom: 1000px;
    
  }
}

@media(max-width: 1400px){
  .bubbles-wrapper{
    transition: 2s ease-in;
    
    /* margin-left: -670px; */
  }


}

@media(max-width: 1200px){
  
}

@media(max-width: 1200px){

}
/* 
@media (max-width: 900px){
  .gif{
    font-size: 30px;
    overflow: auto;
    line-height: 2;
    
  }

  .projects{
    
    font-size: 80%;
  }

  .app_links{
    margin-top:150px;
  }


  .app_links{
    display: block;
  }

} 

.navOpen{
  display: none;
}

@media(max-width: 500px){
  
}

 @media (max-width: 451px){
  .welcome-statement{
    width: 100%;
    padding: 2%;
    margin: auto;

  }
  .welcome-border{
    width: 100%;
    margin: auto;
  
  }
  .comingSoonBanner{
    margin: auto;
   margin-left:0;
    width: 100%;
    margin-top: 45px;
    
   
  }
 } */
