.arsenal-page {
  background-image: url("../../../project_layout/arsenalbg.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #2e4757;

  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}

/* have the content slide in a .5 seconds after or something like that */

.blog_div {
  animation-delay: 0.5s;
}

.arsenal-content {
  max-width: 53%;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .arsenal-content {
    max-width: 59%;
  }
}
@media (max-width: 450px) {
  .arsenal-content {
    max-width: 65%;
  }
  .blog_div {
    margin-left: 30px;
    margin-top: 100px;
  }
}
