
.one{

    position:relative;
}

.two{
   
    position:relative;
}
.all-cards-wrapper{
    background-color: black;
    padding-bottom: 200px;

}

.app-description-card {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 450px;
    top:195px;
    z-index: 1000;
}

.whole-project-box{
    background-color: black;
    margin-bottom: 50%;
    font-family: 'Montserrat', sans-serif;

}

.app-description{
    margin: 0;

    font-size: x-large;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
  
}

.description-text-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: space-evenly;
    right: 480px;
    top:280px;

    width: 440px;
    height: 400px;
    z-index: 1001

}


.tech-used{
   display: flex;
   flex-direction: column;
    color: black;
    font-family: 'Montserrat', sans-serif;
    word-wrap: normal;
    font-size: x-large;
    margin: 0 0 0 20px;
    
    
    /* 23px; */
 
}


.stack{
    font-weight: bold;
   
}
.tech-list{
    display : block;
 
}

.more-info-btn{
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: ;
    color: rgb(184, 134, 27);
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(10, 10, 9);
    /* background-color: transparent;
    background-repeat: no-repeat; */
    transition: all 250ms;
  

}


.more-info-btn:focus {
    color: #ebdec7;
    background-color: #513E3B;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .more-info-btn:hover {
    transform: translateY(-2.5px);
  }
  
  .more-info-btn:active {
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
    color: #faecd1;
  }


  .icon-and-title-wrapper{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 200px; 
     left: 412px; 
     width: 350px;


      
  }

  /* TITLE  */

  .app-title{
    /* left:490px; */
    /* color: #AD8D51; */
    /* background-color: rgb(3, 3, 7);; */
    color: black;
    font-family: 'Montserrat', sans-serif;
    /* position:absolute; */
    /* margin-top: 200px;     */
    letter-spacing: 0px;
    /* padding: 5px 5px 5px 0; */
    border-radius: 6px;
    font-size: x-large;
    font-weight: bold;
    margin-top:0;
  
}

.arrow{
  margin: 15px 0 15px 0;
  width: 10%;


}
  /* ICON */

  .app-icon{
    cursor: pointer;
    webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    /* position: absolute; */

    top: 325px;
    margin-top: 40px;
    width: 125px;
    filter: drop-shadow(0 0 0.75rem rgb(76, 13, 158));
    opacity: .8;

  }
  
  
  .app-icon:hover, .app-icon:focus, .app-icon:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

  /* ICON CARD */

  .app-icon-card{
    margin-left: 400px;
    margin-top: 15px;
    z-index: 2000;
  }
