.all-cards-wrapper{
    background-color: black;
    padding-bottom: 200px;
    display: inline-block;
 

    width:100%;
    margin-bottom: 0;
    padding-bottom: 0;
    /* display: flex; */
 
  

    /* justify-content: space-evenly;
    flex: 1; */
    
}

.whole-project-box{
  background-color: black;
  margin-bottom: 50%;
  font-family: 'Montserrat', sans-serif;

}

.description-div-wrapper{
  position: relative;
  
  display: inline-block;
  width: 530px;
  height: 593px;
  float: right;
  margin-top: 10%;
  margin-right: 10%;
  /* width: 10
  height: 10 */
}

.app-description-card {
    width: 500px;
    height: 500px;
    z-index: 199;
    position: absolute;
    top:0;
  
}


.app-description{
    margin: 0;
    font-size: x-large;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
  
}

.description-text-div{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-left: 3rem;
    width: 400px;
    height: 400px;
    z-index: 200; 
    position: absolute;
    justify-content:center;
    overflow-wrap: break-word;


}


.tech-used{
 

   color: black;
    font-family: 'Montserrat', sans-serif;
    overflow-wrap: break-word;    
    font-size: x-large;
    margin-left: 1.2rem;

    
    
    /* 23px; */
 
}


.stack{
    font-weight: bold;
   
}
.tech-list{
    display : block;
 
}

.more-info-btn{
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;

    color: rgb(184, 134, 27);
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(10, 10, 9);
    /* background-color: transparent;
    background-repeat: no-repeat; */
    transition: all 250ms;
  

}


.more-info-btn:focus {
    color: #ebdec7;
    background-color: #11110f;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .more-info-btn:hover {
    transform: translateY(-2.5px);
  }
  
  .more-info-btn:active {
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
    color: #faecd1;
  }


  .icon-and-title-wrapper{
     
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;


      
  }

  /* TITLE  */

  .app-title{
    /* left:490px; */
    /* color: #AD8D51; */
    /* background-color: rgb(3, 3, 7);; */
    color: black;
    font-family: 'Montserrat', sans-serif;
    /* position:absolute; */
    /* margin-top: 200px;     */
    letter-spacing: 0px;
    /* padding: 5px 5px 5px 0; */
    border-radius: 6px;
    font-size: x-large;
    font-weight: bold;
    margin-top:0;
    margin-bottom: 0;
    z-index: 200;
  
}

.arrow{
  margin: 50px 0 50px 0;
  width: 10%;
  z-index: 200;

}
  /* ICON */

  .app-icon{
    position: relative;
    cursor: pointer;
    webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 200;
    margin-right: 5px;


  
    
    width: 125px;
    filter: drop-shadow(0 0 0.75rem rgb(76, 13, 158));
    opacity: .8;

  }
  
  
  .app-icon:hover, .app-icon:focus, .app-icon:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

  /* ICON CARD */

  .app-icon-card{
    /* position: relative;
    margin-left: 400px;
    margin-top: 15px; */
    z-index: 199;
    position: absolute;
    top:0;

  }

  .icon-card-wrapper{
    float: left;
   position: relative;
   display: inline-block;
   width: 370px;
   height: 593px;
   margin-left: 10%;
  }


  @media (max-width: 1600px){
 
  }