.slider-wrapper {
  background-color: #174a44;
  width: 90%;
  margin: auto;
  padding: 30px 0px 50px 0px;
  display: block;
}

.closed-slider-wrapper {
  display: none;
}
@keyframes shrink-animation {
  0% {
    transform: scaleY(1); /* Initial width scale */
  }
  100% {
    transform: scaleY(0); /* Reduced width scale */
  }
}

.slider-wrapper {
  background-color: #0d2a27;
  width: 90%;
  margin: auto;
  padding: 30px 0px 40px 0px;
  left: 5%;
  position: absolute;
  z-index: 100;
  /* margin-top: -1000px; */
  /* outline: 2px solid green; */
}
.close-slider-btn {
  margin-left: 15px;
  /* border: 1.5px solid #bb914e; */
  border: none;
  border-radius: 50%;
  background-color: rgba(187, 145, 78, 70%);
  cursor: pointer;
  pointer-events: auto;
  color: rgba(39, 22, 40);
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-slider-btn:hover {
  background-color: rgba(187, 145, 78);
}

#root
  > div
  > div.fade-in
  > div.projects
  > div:nth-child(3)
  > div
  > div
  > button.slick-arrow.slick-next::before {
  color: #bb914e;
  margin-left: -500%;
  font-size: 24px;
}
#root
  > div
  > div.fade-in
  > div.projects
  > div:nth-child(3)
  > div
  > div
  > button.slick-arrow.slick-prev::before {
  color: #bb914e;
  margin-right: -500%;
  font-size: 24px;
  z-index: 0;
}
#root
  > div
  > div.fade-in
  > div.projects
  > div:nth-child(3)
  > div
  > div
  > button.slick-arrow.slick-prev {
  margin-right: -500%;
  z-index: 200;
}

.slick-dots li.slick-active button:before {
  color: White !important;
}
.slick-dots li button:before {
  color: red !important;
}

#root > div > section > div > div.slider-wrapper > div > div > div {
  width: 80%;
  margin: auto;
}

.carousel-img {
  height: 500px;
  margin: auto;
}

@media (max-width: 1000px) {
  .carousel-img {
    height: 400px;
  }
}
@media (max-width: 900px) {
  .carousel-img {
    height: 350px;
  }
}
@media (max-width: 750px) {
  .carousel-img {
    height: 300px;
  }
  .close-slider-btn {
    font-size: 12px;
  }
  #root
    > div
    > div.fade-in
    > div.projects
    > div:nth-child(3)
    > div
    > div
    > button.slick-arrow.slick-prev:before {
    color: #bb914e;
    margin-right: -400%;
    font-size: 20px;
  }
  #root
    > div
    > div.fade-in
    > div.projects
    > div:nth-child(3)
    > div
    > div
    > button.slick-arrow.slick-next:before {
    color: #bb914e;
    margin-left: -400%;
    font-size: 20px;
  }
}

@media (max-width: 675px) {
  .carousel-img {
    height: 300px;
    max-width: 400px;
  }
  .slider-wrapper {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .close-slider-btn {
    font-size: 12px;
  }
  .slick-prev {
    bottom: 0% !important;
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    right: 3% !important;
    bottom: 0% !important;
    z-index: 1;
  }

  .slick-container {
    position: absolute;
  }
  #root
    > div
    > div.fade-in
    > div.projects
    > div:nth-child(3)
    > div
    > div
    > button.slick-arrow.slick-next:before {
    color: #bb914e;
    left: 400%;
    font-size: 20px;
    bottom: -950%;
    position: absolute;
  }
  #root
    > div
    > div.fade-in
    > div.projects
    > div:nth-child(3)
    > div
    > div
    > button.slick-arrow.slick-prev:before {
    color: #bb914e;
    right: 400%;
    font-size: 20px;
    bottom: -950%;
    position: absolute;
  }
  .x-char {
    height: 10px;
    width: 10px;
  }
}

@media (max-width: 580px) {
  #root
    > div
    > div.fade-in
    > div.projects
    > div:nth-child(3)
    > div
    > div
    > button.slick-arrow.slick-next:before {
    bottom: -800%;
  }
  #root
    > div
    > div.fade-in
    > div.projects
    > div:nth-child(3)
    > div
    > div
    > button.slick-arrow.slick-prev:before {
    bottom: -800%;
  }
  .carousel-img {
    height: 200px;
    max-width: 400px;
  }
}
@media (max-width: 450px) {
  .slider-wrapper {
    width: 95%;
    left: 0%;
  }
  .text-wrapper {
    font-size: small;
  }

  .text-wrapper button {
    font-size: small;
  }
  #root
    > div
    > div.fade-in
    > div.projects
    > div:nth-child(3)
    > div
    > div
    > button.slick-arrow.slick-next:before {
    bottom: -250%;
  }
  #root
    > div
    > div.fade-in
    > div.projects
    > div:nth-child(3)
    > div
    > div
    > button.slick-arrow.slick-prev:before {
    bottom: -650%;
  }
  .slick-prev,
  .slick-next {
    top: 110%;
  }
  .close-slider-btn {
    margin-left: 5px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .x-char {
    height: 10px;
    width: 10px;
  }
}
