
.popup-background{
    background: rgba(46,33,17, 0.5);
    text-align: center;
    z-index: 4000;

    width: 100%;
    display: inline-block;       /* Display inline block */
    text-align: center;          /* For button text center */
                                 /* Position absolute */
    left: 50%;                   /* Move 50% from left */
               
    transform: translate(-50%, 0); /* Move button Center position  */
    top:0;
    position: absolute;
    height: 100%;
   
    transition: height 0ms 0ms, opacity 300ms 0ms;
    transition-timing-function: ease-in;
    font-family: 'Montserrat', sans-serif;

    padding:0;
    backdrop-filter: blur(20px);
 
}   

.hide{
    height: 0;
    opacity: 0;  
}

.popup-wrapper{


    width: 100%;
}


.popup-text{
    font-size: 16px;
    margin: auto;
    color:  #ebdec7;
    text-align: justify;
    padding: 2% 5% 2% 5%;
    line-height: 25px;
    background-color: black;
    width: 70%;
    border-radius: 32px 32px 0 0;
}

.hide-popup-text{
    display: none;
    height: 0;
}
.hide-button-div{
    display: none;
    height: 0;
}

.button-div{
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    background-color: black;
    padding-bottom: 36px;

    border-radius: 0 0 32px 32px;
    
}

.hide-btn{
    display: none;
    height: 0;
    opacity: 0;  
}
.btn-border{
 
    border: 2px solid rgb(184, 134, 27);
    padding: 16px;
    border-radius: 16px;
}



/* POP UP POSITIONING */
.one {
    position: absolute;
    top:calc(21%);
}

.two{
    position: absolute;
    top:calc(40%);
}
.three{
    position: absolute;
    top:calc(55%);
}

.four{
    position: absolute;
    top:calc(69%);
}
.five{
    position: absolute;
    top:calc(84%);
}

.gif-popup-text{
    font-size: 16px;
    margin: auto;
    color:  #ebdec7;
    text-align: justify;
    padding: 2% 5% 2% 5%;
    line-height: 25px;
    background-color: black;
    
    border-radius: 32px 32px 0 0;
}

.gif-button-div{
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    background-color: black;
    padding-bottom: 36px;

    border-radius: 0 0 32px 32px;

}

.template-gif{


}

.template-gif-wrapper{
    text-align: center;

}



@media(max-width: 800px){
    .pop-up-btns{
        font-size: 14px;
    }

    .gif-popup-text{
        font-size: 16px;
    }

    .popup-text{
        font-size: 16px;
    }
}



@media(max-width: 300px){
    .template-gif{
        display: none;
    }
}

/* .template-gif{
    position: absolute;
    width: 1280px;
    height: 720px;
} */

/* @media(max-width: 1400px){
    .template-gif{
        width: 100%;
        margin: auto;

    }

    .template-gif-wrapper{
        width: 95%;
        margin: auto;
    }
}

@media(max-width: 1000px){
    .template-gif-wrapper{
         height: 700px;
    }
    .template-gif{
         height: 500px;
    }

}
@media(max-width: 900px){
    .template-gif-wrapper p{
        font-size: 15px;
    }
    .template-gif{
         height: 400px;
         width: 100%;
    }
    .template-gif-wrapper{
        height: 600px;
   }

} */
/* @media(max-width: 1300px){
    .template-gif{
        width: 800px;
    }

    .template-gif-wrapper{
        width: 800px;

    }
}
@media(max-width: 1300px){
    .template-gif{
        width: 800px;
        margin: auto;
    }

    .template-gif-wrapper{
        width: 800px;
        margin: auto;
    }
} */
