@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.homepage-wrapper {
  height: 100vh;
  background-color: #9A8C98;
  display: grid;
  grid-template-columns: 50% 50%;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9A8C98;
}

.GN-title {
  color: #F2E9E4;
  font-weight: 400;
  font-size: 31.25px;
  margin: 0;
  padding: 40px;
  position: absolute;
  left: 20px;
}

.savedplaces-component-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locations-dropdwn-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22223B;
  color: #F2E9E4;
  font-weight: 400;
  font-size: 25px;
  width: 400px;
  height: 70px;
  border-radius: 32px;
  cursor: pointer;
}

.savedplaces-list-closed {
  list-style-type: none;
  background-color: #22223B;
  width: 350px;
  text-align: center;
  padding: 0;
  margin-top: 0;
  border-radius: 6px 6px 12px 12px;
  height: 100%;
  transition: height 1s;
  animation: liftUp 200ms ease-in-out forwards;
  transform-origin: top center;
}

.savedplaces-list {
  list-style-type: none;
  background-color: #22223B;
  width: 350px;
  text-align: center;
  padding: 0;
  margin-top: 0;
  border-radius: 6px 6px 12px 12px;
  height: 100%;
  transition: height 1s;
  animation: growDown 200ms ease-in-out forwards;
  transform-origin: top center;
}

.preload {
  display: none;
}

.place-item {
  display: flex;
  gap: 20px;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  padding: 5px;
  background-color: #C9ADA7;
  cursor: pointer;
  border-radius: 3px;
}
.place-item p {
  margin: 2px;
}
.place-item .remove-place-btn {
  font-weight: 700;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22223B;
  color: #C9ADA7;
}
.place-item .remove-place-btn span {
  margin-bottom: 4px;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes liftUp {
  0% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(0);
  }
}
.currentlocation-component-wrapper {
  background-color: #22223B;
  width: 70%;
  margin: 20px;
  margin-top: 200px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.current-location {
  color: #F2E9E4;
  font-size: 16px;
}

.add-location-btn {
  font-weight: 700;
  font-size: 25px;
  border-radius: 50%;
  border: none;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C9ADA7;
  cursor: pointer;
}
.add-location-btn span {
  margin-bottom: 4px;
}
.add-location-btn span {
  margin-top: 5px;
  margin-left: 1px;
}

.map-container {
  width: 500px;
  height: 400px;
  border: 10px solid #22223B;
  border-radius: 32px;
  margin-bottom: 20px;
}

.right-column {
  background-color: #9A8C98;
}

/*# sourceMappingURL=home.css.map */
