@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.open{
  display: flex;
  position: absolute;
  top: 20px;
  right: 9%;
  background-color: black;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;

  transform: translateX(100%);
  -webkit-transform: translateX(100%);
} 



.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  position: absolute;
  display: none;
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
  
@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}











.item {
  -webkit-animation: fadein .3s linear forwards;
  animation: fadein .3s linear forwards;
  /* padding: 10px; */
}
.item-fadeout{

  /* padding: 10px; */
  -webkit-animation: fadeout .3s linear forwards;
  animation: fadeout .3s linear forwards;
}
  
@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
  
@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}






















.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #D5B060;
  margin: 6px 0;
  transition: 0.4s;
}
  
.change .bar1 {
  top: 10px;
  -webkit-transform:rotate(-45deg) translate(-7.7px, 7px);
  /* transform: rotate(-45deg) translate(-8.7px, 7px); */
  transform: rotate(-45deg) translate(-7.7px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  margin-top: .5px;
  -webkit-transform: rotate(45deg) translate(-7px, -9.0px);
  transform: rotate(45deg) translate(-7px, -9.0px);
}

.square-btn{
  z-index: 1;
  margin: 8px;
  position: fixed;
  right : 30px;
  top : 40px;
  border: none;
  padding-top: 1px;
  box-shadow: 2px 2px 40px #976508;
  background: radial-gradient(#976508, black);

}


/* .nav {
  font-family: 'Montserrat', sans-serif;
}


.sidebar {

  
}
.sidebarz {
  /* color: #D5B060;

  width: 15%;
  background:black;
  font-size: auto;
  box-shadow: -.3em 0 .002em #eccd88;
  transition: 0.5s;
  overflow-x: hidden;
  margin-left: 2%;
  z-index: 1000;
  position: absolute;
  right: 10px; 
  
}
*/


ul{
  list-style: none;
}

li{
  font-size: 20px;
  padding: 20px;
  text-decoration: underline;

}


.li:hover {
  padding-right: 25px;
}


.link{
  z-index: 1;
  color: #D5B060;
  font-size: 20px;
  cursor: pointer;
}


.li:hover:after {
  opacity: 1;
  right: 0;
}

@media (max-width: 850px){

  .link{
    font-size: 16px;
  }
  .square-btn{
    right: 32px;
  }
  .sidebar{
    /* margin-top: 5%;
    padding-top: 10%;
    height: 95vh;
    width:80%; */
  }

  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
  }
  .square-btn{
    margin-top: 25px;
  }


  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8.7px, 7px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-4px, -6.5px);
  }
}

@media (max-width: 500px){
  .square-btn{
    margin-top: 5px;
  }
 .blog-wrapper .square-btn{
    margin-top: 0px;
    margin-right: 0;
  
  }x
  .link{
    font-size: 14px;
  }

  .square-btn{
    right: 10px;
  }
}
@media (max-width: 400px){
  .blog-wrapper .square-btn{
    margin-top: 0px;
    right: 0px;
  }

  .square-btn{
    margin-top: 0;
  }
}

