@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container{
 
}

.off{
  float: right;
  width: 0;
  overflow-x: hidden;
  transition: .5s;
  height: 100vh;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #D5B060;
  margin: 6px 0;
  transition: 0.4s;
}
  
.change .bar1 {
  top: 10px;
  -webkit-transform:rotate(-45deg) translate(-7.7px, 7px);
  /* transform: rotate(-45deg) translate(-8.7px, 7px); */
  transform: rotate(-45deg) translate(-7.7px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  margin-top: .5px;
  -webkit-transform: rotate(45deg) translate(-7px, -9.0px);
  transform: rotate(45deg) translate(-7px, -9.0px);
}

.square-btn{
  z-index: 1;
  margin: 8px;
  position: fixed;
  right : 30px;
  top : 40px;
  /* background: #003566; */
  border: none;
 
  padding-top: 1px;
  box-shadow: 2px 2px 40px #976508;
  background: radial-gradient(#976508, black);
  /* background: linear-gradient(to left, #01060F, #D5B060); */

}


nav {
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  color: #D5B060;
  float: right;
  width: 25%;
  height: 100vh;
  /* background: #312450; */
  background:black;
  font-size: auto;
  box-shadow: 1px 1px, -.3em 0 .002em #eccd88;
  transition: 0.5s;
  overflow-x: hidden;
  margin-left: 2%;
}

.nav {
  color: #D5B060;
  position: relative;
  margin:  15 0%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

ul{
  list-style: none;
}

li{
  font-size: 20px;
  padding: 20px;
  text-decoration: underline;
  cursor: pointer;
}


.li:hover {
  padding-right: 25px;
}


.link{
  z-index: 1;
  color: #D5B060;
  font-size: 20px;

}


.li:hover:after {
  opacity: 1;
  right: 0;
}

@media (max-width: 850px){
  .sidebar{
    margin-top: 5%;
    padding-top: 10%;
    height: 95vh;
    width:80%;
  }

  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
  }
  .square-btn{
    right: 0;
  }
  .sidebar_btn{
    right: 10px;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8.7px, 7px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-4px, -6.5px);
  }
}
