@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Roboto:wght@100;300&display=swap');


.app-description-card {
    width: 500px;
}

.whole-project-box{
    background-color: black;
    margin-bottom: 50%;
}

.app-description{
    opacity: .7;
    width: 70%;
    color: #D3F3FF;
    font-size: 1.35em;
    padding: 0 1% 2% 1%;
}

.tech-used{
    color: black;
    font-family: 'Montserrat', sans-serif;
    word-wrap: normal;
    font-size: x-large;

}


.stack{
    font-weight: bold;
   
}
.tech-list{
    display : block;
    margin-top: 10px;
 
}

.more-info-btn{
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: ;
    color: black;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: all 250ms;
    margin-left: 80px;
    margin-top: 10px;
}


.more-info-btn:focus {
    color: #C29E59;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .more-info-btn:hover {
    transform: translateY(-2.5px);
  }
  
  .more-info-btn:active {
    background-color: black;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
    color: #C29E59;
  }


/* 


.project-wrapper{
    display: flex;
    text-align: justify;
    background-color: #050110;
    padding-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    justify-content: space-between;
}


.title-wrapper{
    background-color: #050110;
    width: 20%;
    margin-left: 1%;
}

.app-description{
    opacity: .7;
    width: 70%;
    color: #D3F3FF;
    font-size: 1.35em;
    padding: 0 1% 2% 1%;
}

.tech-used{
    color: black;
    font-family: 'Montserrat', sans-serif;
    word-wrap: normal;
    font-size: x-large;

}

.app-link-wrapper{
    display: flex;
    text-align: center;
    margin: 0 5% 0 0;
    align-items: flex-start;

}

.app-link a:hover, a:visited, a:link, a:active{
   text-decoration: none;

}

.stack{
    font-weight: bold;
   
}
.tech-list{
    display : block;
    margin-top: 10px;
 
}

.more-info-btn{
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: ;
    color: black;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: all 250ms;
    margin-left: 80px;
    margin-top: 10px;
}


.more-info-btn:focus {
    color: #C29E59;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .more-info-btn:hover {
    transform: translateY(-2.5px);
  }
  
  .more-info-btn:active {
    background-color: black;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
    color: #C29E59;
  }

@media(max-width: 600px){
    .project-title{
      
    }

    .title-wrapper{
        width: 30%;
    }
    
}

@media(max-width: 500px){
    .title-wrapper{
      width: 98%;
      margin: auto;
    }

    .project-title{
      
    }

    .app-description{
        opacity: .8;
        padding-left: 5%;
        padding-right: 5%;
    }

    .whole-project-box{
        background-color: #050010;
    }
  }

@media(max-width: 450px){
    .project-wrapper{
        flex-direction: column;
        padding: 0;
    }

    .app-description{
        width: 90%;
        margin:auto;
        padding:0;

    }
    .project-title{
        width: 90%;
        margin: auto;
    }
}

@media(max-width: 400px){
   
} */
