/* Custom properties */
:root {
  --tooltip-text-color: white;
  --tooltip-background-color: #303C4B;
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 30px;
}

/* Wrapping */
.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.Tooltip-Tip {
  text-align: center;
  border: solid white;
  position: relative;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-55%);
  padding: 10px;
  color: var(--tooltip-text-color);
  background: var(--tooltip-background-color);
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1;
  z-index: 100;
}

/* CSS border triangles */
.Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}


/* Absolute positioning */
.Tooltip-Tip.bottom {
  bottom: calc(var(--tooltip-margin) * -2.7);
  right: 50%;
}
/* CSS border triangles */
.Tooltip-Tip.bottom::before {

  bottom: 100%;
  border-bottom-color: var(--tooltip-background-color);
}
