@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,400;1,500;1,600&family=Roboto:wght@100;300&display=swap");


html{
  height: 100%;
}
.background-covering{
  background-color: black;
  height: 100vh;
 
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; */

}


.App {
  text-align: center;
  /* background-image: url(project_layout/background.jpg);
  background-size: cover; */
  background-color: #000;
  
}



@media(max-width:330px){
  /* .App{
   
    height:100%;
    width:100%;
    overflow : hidden;
  }
  body {

    height : 100%;
    width:100%;
    overflow : scroll;
    background-repeat: none;
    -webkit-overflow-scrolling : touch;

} */
}