.top{
  scroll-behavior: smooth;
  font-size: 240%;
  position: -webkit-sticky;
  position: fixed;
  margin-top: 5%;
  border-radius: 50%;
  left: 94%;
  height: 60px;
  width: 60px;
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
  /* background-color: #E94057; */

}

.btn_div{

}

@media (max-width:1200px) {
  .top{
    text-align: center;
    top: 15%;
    font-size: 150%;
    border-radius: 9999px

  }

}

@media (max-width:400px){
  .btn_div{
    left: 95%;
  }
  .top{
    font-size: 100%;
    border-radius: 9999px;

  }
}
